body {
    font-family: 'Ubuntu', sans-serif;
}

.text-header {
    font-family: 'Righteous', sans-serif;
    color: #CAD2C5;
}

.bg-header {
    background-color: #2F3E46;
}

.btn-outline-success:hover {
    color: #28A445;
    background-color: transparent;
    border: none;
}

h3 {
    font-weight: bold;
    color: #2F3E46;
}

.bg-column {
    background-color: #CAD2C5;
    min-height: 300px;
    transition: 0.3s;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.bg-column:hover {
    background-color: #52796F;
    border-color: #CAD2C5!important;
    color: #CAD2C5!important;
}

.bg-column:hover .board-title {
    color:#CAD2C5;
}

.bg-add {
    background-color: #EAEDE8;
    min-height: 300px;
    transition: 0.3s;
}

.bg-add:hover {
    background-color: #E0E4DD;
    border-color: #197278!important;
}

a {
    color: #52796F;
}

a:hover {
    color: #CAD2C5;
    text-decoration: none!important;
}

.board-box{
    min-width:300px;
    min-height:400px;
    max-width:100%;
    padding-top:8px;
    padding-bottom:8px;
    background-color: #EAEDE8;
    overflow-x:auto;

}

.board-button{
    text-align:center;
    margin-left:4px;
    margin-right:4px;
}

.board-column{
    min-width:175px;
    max-width:175px;
    background-color: #CAD2C5;
    min-height:400px;
    max-height:400px;
    overflow-y:auto;
    transition: 0.3s;
}

.board-column:hover {
    background-color: #52796F;
    border-color: #CAD2C5!important;
    color: #CAD2C5!important;
}

.board-column:hover .col-title {
    color:#CAD2C5;
}

.board-card {
    width: 13vw;
    word-wrap: break-word;
    text-align: center;
}

.col_title{
    text-align:center;
    max-width:170px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}
.card{
    min-width:100px;
    max-width:150px;
}

.edit-column-card {
    width: 500px;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 10px;
}

.card-title{
    text-align:center;
    font-weight:bold;
    font-size:16px;
}

.card hr {
    margin-bottom:6px;
    margin-top:6px;
    padding:0px;
}

.modifica-colonna-card hr {
    margin:0px;
    padding:0px;
}

.card-edit{
    padding-top:2px;
    opacity:.2;
}

.card-edit:hover{
    opacity:.4;
    transition: .2s;
}

.card:hover .card-hidden {
    display:block;
    height:auto;
    opacity:1;
    padding-bottom: 4px;
}

.card-hidden{
    text-align:center;
    font-size:14px;
    height:0px;
    opacity:0;
    transition: padding-bottom .4s ease-in-out, opacity .4s ease-in-out;
    padding-top: 4px;
    padding-bottom:2px;
    overflow: hidden;
}

.card-description{
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.card-link{
    text-align:center;
    font-size:14px;
}

.card-details{
    text-align:start;
    white-space: normal;
    padding:4px;
}

.user-initials{
    font-size:16px;
    font-weight:bold;
    text-align:center;
    opacity: .8;
}

.scrollbar-info::-webkit-scrollbar-track {
    background-color: #CAD2C5;
    border-radius: 10px;
}

.scrollbar-info::-webkit-scrollbar {
    width: 6px;
    background-color: #CAD2C5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #999999;
}

.scrollbar-info {
    scrollbar-color: #CAD2C5;
}

.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #2F3E46;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.form_container {
	margin-top: 20px;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #17a2b8 ;
	color: white ;
	border: 0 ;
	border-radius: 0.25rem 0 0 0.25rem ;
}

.input_pass:focus {
	box-shadow: none ;
	outline: 0px ;
}

.links{
    color: white;
}

.messages-success, .errorlist, #messages {
	background-color: #e76f51;
	color: #fff;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

.messages-success{
    background-color: #28A445;
}

.burndown_row{
    min-width:180px;
    max-width:180px;
    background-color: #CAD2C5;
    margin:6px;
    text-align:center;

}

.cardinfo-title{
    font-weight:bold;
    font-size:24px;
    text-transform: uppercase;
}

.form_base{
    max-width:500px;
    margin-bottom:16px;
}

.descrizione-box{
    min-height:10px;
    max-height:500px;
    overflow-y:auto;
    font-size:14px;
    background-color:#e6e6e6;
}

.checkbox{
    background-color:#CAD2C5;
}

input[type=checkbox], input[type=radio]{
    transform: scale(2);
}