body {
    font-family: 'Ubuntu', sans-serif;
}

.text-header {
    font-family: 'Righteous', sans-serif;
    color: #CAD2C5;
}

.bg-header {
    background-color: #2F3E46;
}

.btn-outline-success:hover {
    color: #28A445;
    background-color: transparent;
    border: none;
}

h3 {
    font-weight: bold;
    color: #2F3E46;
}

.bg-column {
    background-color: #CAD2C5;
    height: 300px;
    transition: 0.3s;
}

.bg-column:hover {
    background-color: #52796F;
    border-color: #CAD2C5!important;
}

.bg-add {
    background-color: #EAEDE8;
    height: 300px;
    transition: 0.3s;
}

.bg-add:hover {
    background-color: #E0E4DD;
    border-color: #197278!important;
}

a {
    color: #52796F;
}

a:hover {
    color: #CAD2C5;

}