{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="d-flex justify-content-center h-100 mt-5">
	<div class="user_card">
		<div class="d-flex justify-content-center mt-2">
			<h3 class="text-header">LOGIN</h3>
		</div>

		{% for message in messages %}
		{% if message.tags == "success" %}
		<p class="d-flex justify-content-center messages-{{message.tags}}">{{message}}</p>
		{% endif %}
		{% endfor %}

		<div class="d-flex justify-content-center form_container mb-3">
			<form method="POST" action="">
				{% csrf_token %}
				<div class="input-group mb-3">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>

					<input type="text" name="username" id="username" placeholder="Username..." class="form-control">
				</div>

				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-key"></i></span>
					</div>

					<input type="password" name="password" id="password" placeholder="Password..." class="form-control" >
				</div>

				<div class="d-flex justify-content-center mt-3 login_container">
					<input class="btn btn-info" id="submit" type="submit" value="Login">
				</div>
			</form>
		</div>

		{% for message in messages %}
		{% if message.tags != "success" %}
		<p id="messages" class="d-flex justify-content-center messages-{{message.tags}}">{{message}}</p>
		{% endif %}
		{% endfor %}

		<div class="mb-2">
			<div class="d-flex justify-content-center links">
				Non hai un account? <a href="{% url 'register' %}" id="signup" class="ml-2 text-info">Registrati</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}