{% extends "base.html" %}

{% block title %} Le mie board {% endblock %}

{% block content %}
<h3 class="mb-3">LE TUE BOARD</h3>
<hr>

<div class="row h-100 d-flex justify-content-left">
    {% for board in board %}
    <div class="col-2 bg-column border rounded border-success mx-2 px-1 my-2">
        <div class="row justify-content-end h-100 p-0">
            <div class="col-8 p-0 m-0 d-flex justify-content-center align-items-center">
                <a href="{{ board.get_absolute_url }}" id="board_{{ board.id }}" class="text-uppercase text-wrap board-card board-title stretched-link text-decoration-none" style="max-width:90%">{{ board.nome }}</a>
            </div>
            <div class="col-2 p-0 m-0 justify-content-end">
                <a href="/cancella_board/{{ board.id }}" class="card-link card-edit card-img" id="delete_board" onclick="return confirm('Sicuro di voler eliminare questa board e tutti i dati associati?')"><img src="/static/media/delete.png" alt="edit" height="15px" width="18px"></a>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="col-2 mx-2 my-2 bg-add rounded d-flex justify-content-center align-items-center">
        <a href="{% url 'crea-board' %}" type="button" id="aggiungi_board" class="btn btn-outline-success border-0 stretched-link">Aggiungi board +</a>
    </div>
</div>
{% endblock %}