{% extends "base.html" %}

{% block title %}Board Detail{% endblock %}

{% block content %}
      {% if board %}
      <h3 class="mb-3">{{ board.nome }}</h3>
            <hr>
            <div class="container-fluid board-box d-flex flex-row mb-3 rounded">
                  {% for colonna in board.get_colonne %}

                        <div class="col board-column border rounded border-success mx-1 d-flex align-items-start d-flex justify-content-center">
                              <div class="row">
                                    <div class="col text-center">
                                    <a href="{{ colonna.get_absolute_url }}" class="col-title text-uppercase stretched-link text-decoration-none">{{ colonna.nome }}</a>
                                    </div>
                                    <div class="w-100"></div>

                              {% for card in colonna.get_cards %}
                                    <div class="col-12 m-0 p-0">
                                          <div class="card border-secondary mx-2 my-1 p-1">
                                            <div class="card-body text-secondary p-0 m-0">
                                              <div class="card-title m-0 p-0">{{ card.nome }}<hr></div>
                                              <div class="card-text mx-1">{{ card.descrizione }}<hr></div>
                                                  <div class="col d-flex justify-content-center">
                                                      <a href="#" class="card-link ">Modifica</a>
                                                  </div>

                                            </div>
                                          </div>
                                    </div>
                              <div class="w-100"></div>

                              {% endfor %}
                        </div>
                        </div>
                  {% endfor %}
            </div>





      {% else %}
      <p>No Board Found for id: {{ board_id }}</p>
      {% endif %}
{% endblock %}